* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

div[class^="inner-"] {
    height: 70px;
}


.logo {
    font-size: 3rem;
    color: #00b1f6;
}

.inner-filter {
    background: #00b1f6;
}

div.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-header > div.container {
    justify-content: flex-start !important;
    align-items: flex-end;
}

label {
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
}

main > div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.card {
    font-size: 2rem;
    flex: 0 1 15%;
    padding: 30px 40px;
    border-radius: 10px;
    margin: 40px 20px;
    box-shadow: 1px 1px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.card > span {
    font-size: .7rem;
    text-transform: uppercase;
    margin-top: 4px;
}

i.animal {
    color: #3200ff;
}

i.vegetable {
    color: #ffa500;
}

i.user {
    color: #d10067;
}